<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
        function getValueInTextAndSendRequest() { //email 입력값 변수에 저장
            let inputEmail = document.getElementById("data1").value;
            console.log(inputEmail);
            const data={
                email: inputEmail,
                athNum: null
            }
            const config = {
                header:{
                    'Content-Type': 'application/json',
                }
            }
            axios.post("https://localhost:8080/email",
                JSON.stringify(data),
                config
            )
                .then(function(response){
                let athNum = response.data; //서버가 제공한 응답데이터
                console.log(athNum);
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/email" name="athEmail" th:object="${athForm}" method="post">
    <div>
        <label th:for="email">이메일</label>
        <input type="text" id="data1" th:field="*{email}" placeholder="이메일"></input>
        <p th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}">이메일을 입력하세요</p>
    </div>
    <button type="submit" onclick="getValueInTextAndSendRequest();">인증번호 받기</button>
</form>
<form action="/athEmail" method="post">
    <div>

    </div>
    <button type="submit">인증하기</button>
</form>
</body>
</html>