<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="athEmail">
    <div>
        <label>이메일</label>
        <input type="text" id="data1" placeholder="이메일을 입력하세요"></input>
    </div>
<!--    <button type="submit" onclick="postEmailInText();">인증번호 받기</button>-->
    <button type="submit" id="sendEmailAcc">인증번호 받기</button>
</form>
<form>
    <div>
        <label>인증번호</label>
        <input type="text" id="data2" placeholder="인증번호를 입력하세요"></input>
    </div>
<!--    <button type="submit" onclick="postReusltOfAth();">인증하기</button>-->
    <button type="submit" id="sendAuthNum">인증하기</button>
</form>

<!--자바스크립트-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let inputEmail = document.getElementById("data1").value;
    let realAthNum = 0;
    let inputAthNum = document.getElementById("data2").value;

    function postEmailInText(event) { //email 입력값 변수에 저장
        event.preventDefault();
        const data = {
            email: inputEmail,
            athNum: null
        }
        const config = {
            header: {
                'Content-Type': 'application/json',
            }
        }
        axios.post("http://localhost:8080/email",
            JSON.stringify(data),
            config
        )
            .then(function (response) {
                realAthNum = response.data; //서버가 제공한 응답데이터
            });
    }
    function postReusltOfAth() {
        let result = false;
        if (realAthNum == inputAthNum) {
            result = true;
        }
        const data={
            resultOfAth: result,
        }
        const config={
            header: {
                'Content-Type': 'application/json',
            }
        }
        axios.post("https://localhost:8080/resultOfAth",
            JSON.stringify(data),
            config
        )
            .then(function (response) {
                realAthNum = response.data; //서버가 제공한 응답데이터
            });
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('sendEmailAcc').addEventListener('click', postEmailInText);
    });
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('sendAuthNum').addEventListener('click', postReusltOfAth);
    });
</script>
</body>
</html>