<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결과 기록</title>
</head>
<body>
<h1 style="text-align: center">수익률 등록</h1>
<div style="text-align: center">

    <form action="/stock/result/enroll" name="resultStock" th:object="${endedInv}" method="post">
        <div>
            <label th:for="name">종목명</label>
            <input type="text" th:field="*{tickerName}" placeholder="종목명"></input>
            <p th:if="${#fields.hasErrors('tickerName')}"
               th:errors="*{tickerName}">종목명 입력하세요</p>
        </div>
        <div>
            <label th:for="holdTerm">보유 기간</label>
            <input type="text" th:field="*{holdTerm}" placeholder="보유 기간"></input>
            <p th:if="${#fields.hasErrors('sellPrice')}"
               th:errors="*{holdTerm}">보유기간을 입력하세요</p>
        </div>
        <div>
            <label th:for="sellPrice">매도가</label>
            <input type="number" onfocus="if(this.value == 0.0) this.value=''"
                   th:field="*{sellPrice}" placeholder="매도가"></input>
            <p th:if="${#fields.hasErrors('sellPrice')}"
               th:errors="*{sellPrice}">매도가 입력하세요</p>
        </div>
        <div>
            <div>투자 결과</div>
<!--            <select name="statusOpt">-->
<!--            <option th:each="status : ${T(com.example.seoultechInvestment.Enum.ProgressStatus).values()}"-->
<!--            th:value="${status}" th:text="${status}"></option>-->
<!--            </select>-->
            <input type="radio" th:field="*{status}" th:value="SUCCESS">SUCCESS
            <input type="radio" th:field="*{status}" th:value="FAIL">FAIL
        </div>
        <br>
        <button type="submit">제출</button>
    </form>
</div>
</body>
</html>