<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결과 기록</title>
</head>
<body>
<h1 style="text-align: center">수익률 등록</h1>
<div style="text-align: center">

    <form action="/stock/result/enroll" name="resultStock" th:object="${finishedStock}" method="post">
        <div>
            <label th:for="name">종목명</label>
            <input type="text" th:field="*{tickerName}" placeholder="종목명"></input>
            <p th:if="${#fields.hasErrors('tickerName')}"
               th:errors="*{tickerName}">종목명 입력하세요</p>
        </div>
        <div>
            <label th:for="sellPrice">진입가</label>
            <input type="text" th:field="*{entryPrice}" placeholder="매도가"></input>
            <p th:if="${#fields.hasErrors('sellPrice')}"
               th:errors="*{entryPrice}">진입가 입력하세요</p>
        </div>
        <div>
            <label th:for="sellPrice">매도가</label>
            <input type="text" th:field="*{sellPrice}" placeholder="매도가"></input>
            <p th:if="${#fields.hasErrors('sellPrice')}"
               th:errors="*{sellPrice}">매도가 입력하세요</p>
        </div>
        <div>
            <label th:for="rate">수익률</label>
            <input type="text" th:field="*{earningRate}" placeholder="수익률"></input>
            <p th:if="${#fields.hasErrors('earningRate')}"
               th:errors="*{earningRate}">수익률 입력하세요</p>
        </div>
        <button type="submit">제출</button>
    </form>
</div>
</body>
</html>