<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>종목등록</title>
</head>
<body>
<h1 style="text-align: center">투자 종목 등록</h1>
<div style="text-align: center">
    <form action="/stock/enroll" name="enrollStock" th:object="${newStock}" method="post">
        <div>
            <label th:for="tickerName">종목명</label>
            <input type="text" th:field="*{tickerName}" placeholder="종목명"></input>
            <p th:if="${#fields.hasErrors('tickerName')}"
               th:errors="*{tickerName}">종목을 입력하세요</p>
        </div>

        <div>
            <label th:for="tp">최소 도달가</label>
            <input type="text" onfocus="if(this.value == 0.0) this.value=''"
                   th:field="*{tp}" placeholder="최소 도달가"></input>
            <p th:if="${#fields.hasErrors('tp')}"
               th:errors="*{tp}">최소 도달가를 입력하세요</p>
        </div>

        <div>
            <label th:for="entryPrice">진입가</label>
            <input type="text" onfocus="if(this.value == 0.0) this.value=''"
                   th:field="*{entryPrice}" placeholder="진입가"></input>
            <p th:if="${#fields.hasErrors('entryPrice')}"
               th:errors="*{entryPrice}">진입가를 입력하세요</p>
        </div>
        <br>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>