<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결과 기록</title>
</head>
<body>
<h1 style="text-align: center">수익률 등록</h1>
<div style="text-align: center">

    <form action="/stock/result/enroll" name="resultStock" th:object="${endedInv}" method="post">
        <div>
            <label th:for="name">종목명</label>
            <input type="text" th:field="*{tickerName}" placeholder="종목명"></input>
            <p th:if="${#fields.hasErrors('tickerName')}"
               th:errors="*{tickerName}">종목명 입력하세요</p>
        </div>
        <div>
            <label th:for="holdTerm">보유 기간</label>
            <input type="text" th:field="*{holdTerm}" placeholder="보유 기간"></input>
            <p th:if="${#fields.hasErrors('sellPrice')}"
               th:errors="*{holdTerm}">보유기간을 입력하세요</p>
        </div>
        <div>
            <label th:for="sellPrice">매도가</label>
            <input type="text" th:field="*{sellPrice}" placeholder="매도가"></input>
            <p th:if="${#fields.hasErrors('sellPrice')}"
               th:errors="*{sellPrice}">매도가 입력하세요</p>
        </div>
        <div>
            <label th:for="status">진행상태</label>
            <input type="text" th:field="*{status}" placeholder="진행상태"></input>
            <p th:if="${#fields.hasErrors('status')}"
               th:errors="*{status}">진행상태를 입력하세요</p>
        </div>
        <button type="submit">제출</button>
    </form>
</div>
</body>
</html>