<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>로그인</h1>
<div style="text-align: center">
<form action="/login" name="loginMember" th:object="${memberForm}" method="post">
    <legend>로그인</legend>
    <div>
        <label th:for="studentId">학번</label>
        <input type="text" th:field="*{stId}" placeholder="학번"></input>
        <p th:if="${#fields.hasErrors('stId')}"
            th:errors="*{stId}">학번 입력하라고!!!</p>
    </div>
<!--    <span>학교이메일 : </span>-->
    <div>
        <label th:for="studentId">학과</label>
        <input type="text" th:field="*{department}" placeholder="학과"></input>
        <p th:if="${#fields.hasErrors('department')}"
           th:errors="*{stId}">학과 입력하라고!!!</p>
    </div>
    <div>
        <label th:for="studentId">이름</label>
        <input type="text" th:field="*{name}" placeholder="이름"></input>
        <p th:if="${#fields.hasErrors('name')}"
           th:errors="*{stId}">이름 입력하라고!!!</p>
    </div>
    <div>
        <label th:for="studentId">고닉</label>
        <input type="text" th:field="*{stGalleryNickname}" placeholder="고닉"></input>
    </div>
</form>
</div>
</body>
</html>