<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>성과</title>
<!--    <style>-->
<!--        h1 { text-align: center}-->
<!--    </style>-->
</head>
<body>
    <div style="text-align: center">
        <h1>성과 목록</h1>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let title = {
            "date":"enrollDate",
            "name":"tickerName",
            "holdTerm" : "holdTerm",
            "sellPrice" : "sellPrice",
            "rate":"earningRate",
            "ProgressStatus" : "status"
        }
        async function getPerformanceList() {
            let response = await axios.get("http://localhost:8080/stock/result",{
                headers: {'Content-type' : 'application/json'}
            });
           return response.data;
        }

        let listObj = getPerformanceList();

        let $table = document.createElement('table');

        for(let i in title)
        {
            let $th = document.createElement('th');
            let $tr = document.createElement('tr');
            $tr.innerHTML = title[i];
            $th.appendChild($tr);
            $table.appendChild($th);
        }

        listObj.map(list=>{
            let $tr = document.createElement('tr');
            for(let i in list){
                let $td = document.createElement('td');
                $td.innerHTML = list[i];
                $tr.appendChild($td);
                $table.appendChild($tr);
            }
        })

        document.body.appendChild($table);
    </script>
</body>
</html>