<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<!--<script type="text/javascript">-->
<!--    function athPopup() {-->
<!--        // athEmailPopup은 팝업창의 이름 또는 별칭-->
<!--        window.open("athPopUp","athEmailPopup","width=400,height=300,left=100,top=50");-->
<!--    }-->
<!--</script>-->
<body>
<h1 style="text-align: center">회원가입</h1>
<div style="text-align: center">

<form action="/signUp" name="signUpMember" th:object="${memberForm}" method="post">
    <legend>회원가입</legend>
    <div>
        <label th:for="studentId">학번</label>
        <input type="text" th:field="*{stId}" placeholder="학번"></input>
        <p th:if="${#fields.hasErrors('stId')}"
            th:errors="*{stId}">학번 입력하세요</p>
    </div>
<!--    <span>학교이메일 : </span>-->
    <div>
        <label th:for="department">학과</label>
        <input type="text" th:field="*{department}" placeholder="학과"></input>
        <p th:if="${#fields.hasErrors('department')}"
           th:errors="*{stId}">학과 입력하세요</p>
    </div>
    <div>
        <label th:for="name">이름</label>
        <input type="text" th:field="*{name}" placeholder="이름"></input>
        <p th:if="${#fields.hasErrors('name')}"
           th:errors="*{stId}">이름 입력하세요</p>
    </div>
    <div>
        <label th:for="stGalleryNickname">고닉</label>
        <input type="text" th:field="*{stGalleryNickname}" placeholder="고닉"></input>
    </div>
    <button type="submit">제출</button>
</form>
</div>
</body>
</html>