<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
<h1 style="text-align: center">회원가입</h1>
<div style="text-align: center">
<form action="/email" name="sendEmail" th:object="${EmailForm}" method="post">
    <div>
        <label th:for="email">과기대이메일</label>
            <input type="text" th:field="*{email}" placeholder="곽메일을 입력하세요"></input>
            <p th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">이메일을 입력하세요</p>
        <button type="submit">확인</button>
    </div>
</form>
</div>
<div style="text-align: center">
    <form action="/email/ath" name="sendAthNum" th:object="${athNumForm}" method="post">
        <div>
            <label th:for="email">이메일 인증</label>
            <input type="text" th:field="*{athNum}" placeholder="인증번호를 입력하세요"></input>
            <p th:if="${#fields.hasErrors('athNum')}"
               th:errors="*{athNum}">이메일을 입력하세요</p>
            <button type="submit">확인</button>
        </div>
    </form>
</div>
<div style="text-align: center">
<form action="/signUp" name="signUpMember" th:object="${memberForm}" method="post">
    <legend>회원가입</legend>
    <div>
        <label th:for="studentId">학번</label>
        <input type="text" th:field="*{stId}" placeholder="학번"></input>
        <p th:if="${#fields.hasErrors('stId')}"
            th:errors="*{stId}">학번을 입력하세요/p>
    </div>
    <div>
        <label th:for="department">학과</label>
        <input type="text" th:field="*{department}" placeholder="학과"></input>
        <p th:if="${#fields.hasErrors('department')}"
           th:errors="*{stId}">학과를 입력하세요</p>
    </div>
    <div>
        <label th:for="name">이름</label>
        <input type="text" th:field="*{name}" placeholder="이름"></input>
        <p th:if="${#fields.hasErrors('name')}"
           th:errors="*{stId}">이름을 입력하세요</p>
    </div>
    <div>
        <label th:for="stGalleryNickname">고닉</label>
        <input type="text" th:field="*{stGalleryNickname}" placeholder="고닉"></input>
    </div>
    <button type="submit">제출</button>
</form>
</div>
</body>
</html>