<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            margin-left:auto;
            margin-right:auto;
        }

        table, td, th {
            border-collapse : collapse;
            border : 1px solid black;
        };
    </style>
    <title>Title</title>
</head>
<body>
<!--    <div style="text-align: center">-->

<!--            <button onclick="location.href='http://localhost:8080/performanceList'">이전 추천종목 성과</button>-->
<!--    </div>-->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let title = {
            "enrollDate":"등록일",
            "tickerName":"종목명(트레이딩뷰 기준)",
            "entryPrice":"진입가",
            "tp":"최소 도달가"
        }

        async function getData(){
            try {
                let response = await axios.get("http://localhost:8080/stock/onGoing",{
                    headers: {'Content-type' : 'application/json'}
                });
                return response.data;
            }catch (err){
                console.log(err);
            }
        }

         getData().then(listObj => {
             console.log(typeof(listObj));
             console.log(listObj);

             let $screen = document.createElement('div');
             $screen.setAttribute('style', 'text-align: center');


             let $table = document.createElement('table');
             // $table.setAttribute("border", "1px solid black");

             for(let i in title)
             {
                 let $th = document.createElement('th');
                 let $tr = document.createElement('tr');
                 $tr.innerHTML = title[i];
                 $th.append($tr);
                 $table.append($th);
             }

             listObj.map(list => {
                 console.log(list);
                 let $tr = document.createElement('tr');
                 for(let i in list){
                     let $td = document.createElement('td');
                     $td.innerHTML = list[i];
                     $tr.append($td);
                     $table.append($tr);
                 }
             })

             $screen.appendChild($table);
             document.body.appendChild($table);

             let $btn = document.createElement('button');
             $btn.setAttribute('onclick', 'location.href=\'http://localhost:8080/performanceList\'');
             $btn.innerHTML='이전 추천종목 성과';

             $screen.appendChild(document.createElement('br'));
             $screen.appendChild($btn);
             document.body.appendChild($screen);
         })


        </script>
</body>
</html>