<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center">

            <button onclick="location.href='http://localhost:8080/performanceList'">이전 추천종목 성과</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let title = {
            "name":"enrollDate",
            "date":"entryPrice",
            "tp":"tickerName",
            "entryPrice":"tp"
        }
        let listObj;

        async function getData(){
            try {
                let response = await axios.get("http://localhost:8080/stock/onGoing",{
                    headers: {'Content-type' : 'application/json'}
                });
                return response.data;
            }catch (err){
                console.log(err);
            }
        }

         listObj = getData();
        console.log(listObj);

        let $table = document.createElement('table');

        for(let i in title)
        {
            let $th = document.createElement('th');
            let $tr = document.createElement('tr');
            $tr.innerHTML = title[i];
            $th.appendChild($tr);
            $table.appendChild($th);
        }

        listObj.map(list => {
            let $tr = document.createElement('tr');
            for(let i in list){
                let $td = document.createElement('td');
                $td.innerHTML = list[i];
                $tr.appendChild($td);
                $table.appendChild($tr);
            }
        })

        document.body.appendChild($table);

        </script>
</body>
</html>